<a href="https://colab.research.google.com/github/rajkiran7c/Python/blob/main/class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""
1st => want to define a class ex=(class string  :).in this place string is an ADDRESS(object)
2nd=> want to create a templete ex=(name,age,extra)
3=> create a varible for  defined ADDRESS ex(x=adress ,y=address)
final print with address
"""

In [ ]:
class profile:
   Name="bc1438"
   DOB=1995

info=profile
print(info.Name,info.DOB)

bc1438 1995

In [ ]:
class members:
  Father="durai"
  Mother="ladha"
  Brother="Kishore"

family=members
print(family.Father,family.Mother,family.Brother)

durai ladha Kishore

In [ ]:
"""
Class with function
1st => want to define a class ex=(class string  :).in this place string is an ADDRESS(object)
2nd=> want to create a templete ex=(name,age,extra)
3=> create a VARIABLE for  defined ADDRESS ex(x=adress ,y=address x&y are variables)
final print with address.

it must define like this    #__init__(double _)
                def__init__(self,

if we need to define like this
 def show(self):


and we want to print
VARIABLE.show()

"""

In [ ]:
class members:
   def __init__(self,Age,Job,Amount):
    self.age=Age
    self.work=Job
    self.income=Amount
   def show(self):
      print("he is my father and his age is",self.age,
          "He is doing ",self.work, "and his income is ",self.income)

mem1=members(51,"business",10000)
mem1.show()

he is my father and his age is 51 He is doing  business and his income is  10000

In [ ]:
class gym:
    def __init__(self,monday,tuesday,wednesday):
      self.Monday=monday
      self.Tuesday=tuesday
      self.Wednesday=wednesday

    def show(self):
      print("this is my workout routine .",self.Monday,"i will workout it on monday."
      ,self.Tuesday,"i will do it on tuesday.",self.Wednesday,"for wednesday.")

routine=gym("chest","back","legs")
routine.show()

this is my workout routine . chest i will workout it on monday. back i will do it on tuesday. legs for wednesday.

In [ ]:
class emp():
    def __init__(self, id, name, salary):
        self.emp_id = id
        self.emp_name = name
        self.monthly_income = salary

    def show(self):
        print("employee id is :", self.emp_id)
        print("his name is : ", self.emp_name)
        print("and his salary is :", self.monthly_income)

class tcs(emp):
    def __init__(self, id, name, salary, location):
        super().__init__(id, name, salary)
        self.location = location

    def show(self):
        print("employee id is :", self.emp_id)
        print("his name is : ", self.emp_name)
        print("and his salary is :", self.monthly_income)
        print("location is : ", self.location)

company1 = tcs(12, 23, 23, "Bangalore")
print(company1.show())

employee id is : 12
his name is :  23
and his salary is : 23
location is :  Bangalore
None

In [ ]:
class emp():
    def __init__(self, id, name, salary):
        self.emp_id = id
        self.emp_name = name
        self.monthly_income = salary

    def show(self):
        print("employee id is :", self.emp_id)
        print("his name is : ", self.emp_name)
        print("and his salary is :", self.monthly_income)

class tcs(emp):
    def __init__(self, id, name, salary, location):
        super().__init__(id, name, salary)
        self.location = location
    def update(self,new_id):
      self.emp_id=new_id

    def f_salary(self):
        self.monthly_income=float(self.monthly_income)


    def show(self):
        print("employee id is :", self.emp_id)
        print("his name is : ", self.emp_name)
        print("and his salary is :", self.monthly_income)
        print("location is : ", self.location)

class hcl(emp):
     def __init__(self,id,name,salary,gender,bg,dob):
       super().__init__(id, name, salary)
       self.gender=gender
       self.bg=bg
       self.dob=dob
     def update(self,new_id):
       self.emp_id=new_id

     def pf(self):
       self.monthly_income=self.monthly_income -(0.1*self.monthly_income)


     def show(self):
        print("employee id is :", self.emp_id)
        print("his name is : ", self.emp_name)
        print("and his salary is :", self.monthly_income)
        print("gender is :",self.gender)
        print("bg is : ",self.bg)
        print("dob is : ",self.dob)



class infy(emp):
    def __init__(self,id, name, salary,experience,mobile):
      super().__init__(id, name, salary)
      self.exp=experience
      self.contact=mobile

    def show(self):
       print("employee id is :", self.emp_id)
       print("his name is : ", self.emp_name)
       print("and his salary is :", self.monthly_income)
       print("experience is :",self.exp)
       print("contact number is :",self.contact)
    def update(self,new_id):
      self.emp_id=new_id

    def spa(self):
       self.monthly_income= self.monthly_income*12

company3=infy(34,"raj",20000,"5yrs",99999)
company3.update("infy34")
company3.spa()
company3.show()
company2=hcl(34,"raj",20000,"male","o+","03 jan 1994")
company2.update("hcl34")
company2.pf()
#company2.s_name()
company2.show()
company1=tcs(34,"raj",20000,"karur")
company1.f_salary()
company1.update("tcs34")
company1.show()

employee id is : infy34
his name is :  raj
and his salary is : 240000
experience is : 5yrs
contact number is : 99999
employee id is : hcl34
his name is :  raj
and his salary is : 18000.0
gender is : male
bg is :  o+
dob is :  03 jan 1994
employee id is : tcs34
his name is :  raj
and his salary is : 20000.0
location is :  karur