<a href="https://colab.research.google.com/github/rajkiran7c/rajkiran7c/blob/main/forloob.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(1, 10):
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
name=["raj","kiran","kishore","kumar","ladha","durai","samy"]
for i in name:
  print(i)

raj
kiran
kishore
kumar
ladha
durai
samy

In [ ]:
name=["raj","kiran","kishore","kumar","ladha","durai","samy"]
for i in name:
  if i=="ladha":
   break
  print(i)

raj
kiran
kishore
kumar

In [ ]:
numbers=[1,2,3,4,5,6,7,8]
for i in numbers:
  if i==6:
    continue
  print(i)

1
2
3
4
5
7
8

In [ ]:
names=["raj","kiran","kishore","kumar","ladha","durai","samy"]
for i in names:
  if i=="kishore":
    continue
  print(i)

raj
kiran
kumar
ladha
durai
samy

In [ ]:
names=["raj","kiran","kishore","kumar","ladha","durai","samy"]
for i in names:
  if i=="kishore":
   print(i)
  continue

kishore

In [ ]:
numbers=[1,2,3,4,5,6,7,8]
for i in numbers:
  if i==6:
    print(i)

6

In [ ]:
names=["raj","kiran","kishore","kumar","ladha","durai","samy"]
search=input("enter the name : ")
for i in names:
  if i==search:
    break
  print(i)

enter the name : kumar
raj
kiran
kishore

In [ ]:
names=["raj","kiran","kishore","kumar","ladha","durai","samy"]
search=input("enter the name : ")
for i in names:
   if i==search:
     continue
   print(i)

enter the name : ladha
raj
kiran
kishore
kumar
durai
samy

In [ ]:
names=["raj","kiran","kishore","kumar","ladha","durai","samy"]
search=input("enter the name : ")
for i in names:
   if i == search:
    print(i)

enter the name : kiran
kiran

In [ ]:
for i in range(10,100):
  if i%10==0:
   print(i)

10
20
30
40
50
60
70
80
90

In [ ]:
for i in range(1, 10):
  if i%2==0:
    print(i)

2
4
6
8

In [ ]:
for i in range(1, 10):
  if i%2!=0:
    print(i)

1
3
5
7
9

In [ ]:
for i in range(1, 10):
  if i%2==0:
    break
  print(i)

1

In [ ]:
for i in range(1,10):
  if i%2==0:
    continue
  print(i)

1
3
5
7
9

In [ ]:
name=["raj","durai","kishore","lad"]
name1=["kiran","samy","kumar","ha"]
for x in name:
  for y in name1:
    print(x,y)

raj kiran
raj samy
raj kumar
raj ha
durai kiran
durai samy
durai kumar
durai ha
kishore kiran
kishore samy
kishore kumar
kishore ha
lad kiran
lad samy
lad kumar
lad ha

In [ ]:
name=["raj","durai","kishore","lad"]
name1=["kiran","samy","kumar","ha"]
for i, j in zip(name, name1):
  print(i, j)

raj kiran
durai samy
kishore kumar
lad ha

In [ ]:
name={1:"durai", 2:"ladha", 3:"kishore", 4:"kiran"}
for i in name.values():
  print(i)

durai
ladha
kishore
kiran

In [ ]:
name={1:"durai", 2:"ladha", 3:"kishore", 4:"kiran"}
for i in name.values():
  print(i)

durai
ladha
kishore
kiran

In [ ]:
name={1:"durai", 2:"ladha", 3:"kishore", 4:"kiran"}
for i in name.keys():
  print(i)

1
2
3
4

In [ ]:
name={1:"durai", 2:"ladha", 3:"kishore", 4:"kiran"}
a=[]
for i in name.values():
  a.append(i)
  print(a)

['durai']
['durai', 'ladha']
['durai', 'ladha', 'kishore']
['durai', 'ladha', 'kishore', 'kiran']

In [ ]:
name1=["kiran","samy","kumar","ha"]
a=[]
for i in name1.keys():
    a.append(i)
    print(i)

1
2
3
4

In [ ]:
name1=["kiran","samy","kumar","ha"]
a=[]
for i in name1:
  a.append(i)
  print(a)

['kiran']
['kiran', 'samy']
['kiran', 'samy', 'kumar']
['kiran', 'samy', 'kumar', 'ha']

In [ ]:
name1=["kiran","samy","kumar","ha"]
a=[]
for i in name1:
  a.insert(0, i)
  print(a)

['kiran']
['kiran', 'samy']
['kiran', 'kumar', 'samy']
['kiran', 'ha', 'kumar', 'samy']

In [ ]:
print(a)

['ha', 'kumar', 'samy', 'kiran']