<a href="https://colab.research.google.com/github/rajkiran7c/rajkiran7c/blob/main/whileloop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
n=1
while n<3:
  print("rajkiran")
  n+=1

rajkiran
rajkiran

In [5]:
n=1
while n<=8:
  print("rajkiran")
  n+=2
  if n==7:
     break

rajkiran
rajkiran
rajkiran

In [6]:
nam=["raj","kiran",234,"kishor","DSSA"]
n=0
while n<len(nam):
  print(nam[n])
  n+=1

raj
kiran
234
kishor
DSSA

In [7]:
n=1
while n<6:
  print("hai")
  n=n+1

hai
hai
hai
hai
hai

In [ ]:
name1=["raj","kishore","ladha","durai","kiran","kumar"]
search=input("search the name :" )
i=0
while i<len(name1):
   print(name1[i])
   if name1[i]==search:

    print(i)
    break
   i+=1
print(name1)

search the name :kirab
raj
kishore
ladha
durai
kiran
kumar
['raj', 'kishore', 'ladha', 'durai', 'kiran', 'kumar']